@model IEnumerable<BcseTestTask.Models.Deal>

<div class="container table-responsive">
    <h2>Deals</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-hover">
                <th>Id</th>
                <td>Tool</td>
                <td>Price</td>
                <td>Volume</td>
                <td>Date</td>
                <td>Seller</td>
                <td>Buyer</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@(item?.Tool?.Name)</td>
                    <td>@item.Price</td>
                    <td>@item.Volume</td>
                    <td>@item.Date</td>
                    <td>@(item?.Seller?.Name)</td>
                    <td>@(item?.Buyer?.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
